<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/dashboard">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/question/{{question._id}}">Go Back to Question</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!" ng-click="logout()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
<h2> {{question.content}} </h2>
<p> {{question.description}} </p>
<p class="alert-danger">{{answerErrs}}</p>
<form ng-submit="createAnswer(newAnswer)">
	<div class="form-group">
		<label for="answer">Your Answer</label>
		<textarea class="form-control" id="answer" ng-model="newAnswer.content"></textarea>
	</div>	
	<div class="form-group">
		<label for="details">Supporting details for your answer(optional)</label>
		<textarea class="form-control" id="details" ng-model="newAnswer.details"></textarea>
	</div>	
	<a class="btn btn-danger" href="#/question/{{question._id}}">Cancel</a>
	<button class="btn btn-primary">Answer Question</button>
</form>
</div>